.pop-up-more {
  position: absolute;
  margin: 6px 24px 32px;
  width: 300px;
  height: 200px;
  z-index: 100;
  top: 100%;
  left: 40%;
  box-shadow: 0 4px 12px rgba(29, 33, 55, 0.25);
  border-radius: 16px;
  overflow: hidden;
  background-color: var(--bg-pop-up-more);
}
