.add-pop-up {
    height: 20px;
    background: white;
    display: flex;
    justify-content: space-between;
    margin: 0 50vh;
    padding: 0 20px;

    .links {

    }

    .x-block {
        cursor: pointer;
        color: grey;
    }
}