body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

:root {
  --bg-color: #0d0d0d;
  --bg-block3-img: #fff;
  --button-font-family: 'YS Text Medium', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  --button-borderRadius: 8px;
  --color-mg-typo-secondary: #85889e;
  --color-mg-typo-primary: #262633;
  --bg-pop-up-more: #222;
}
